!!! 5

html(lang="en")
  head
    link(rel='stylesheet', href='/css/style.css')
    title Your Data

  body
    .header
      center
        h1 JSON for the rest of us
        a(href='/v0') root
        &nbsp;/&nbsp;
        
        each value, i in params
          if i < params.length-1
            a(href='/v0/#{value}') #{value}
            &nbsp;/&nbsp;
          else
            // Last item has special formatting            
            | #{value}

    .container
      center
        p !{JSON.stringify(callback)}