!!! 5

html(lang="en")
  head
    link(rel='stylesheet', href='/css/style.css')
    title Your Data

  body
    .header
      center
        h1 JSON for the rest of us
        a(href='/v0') /
        each value in params
          &nbsp;/ 
          a(href='/v0/#{value}') #{value}

    .container
      center
        
        p !{JSON.stringify(callback)}
    #debug
      p Session: 
        =JSON.stringify(session)